# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure.eventhub # we have added azure eventhub package in requirements. txt file 
azure.identity 
azure.keyvault.secrets